.tracksContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);
  min-height: 364px;
  max-height: 400px;
  position: absolute;
  width: 376px;
  padding: 8px;
  overflow: auto;
}

@keyframes rollout {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: none;
  }
}

@keyframes rollin {
  100% {
    transform: translateY(-100px);
  }
  0% {
    transform: none;
  }
}

.tracksContainer.true,
.tracksContainer ul li.true {
  animation: rollout 0.4s;
}

.tracksContainer.false,
.tracksContainer ul li.false {
  animation: rollin 0.4s;
}

.tracksContainer > span {
  color: #5c5589;
  margin: 15px auto;
  display: block;
  text-align: center;
  cursor: pointer;
}

.tracksContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tracksContainer ul li {
  display: flex;
  align-items: center;
  height: 56px;
}

.tracksContainer ul li > span:nth-child(1) {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #5c5589;
  display: flex;
  height: 21px;
  justify-content: center;
  margin-left: 24px;
  margin-right: 26px;
  width: 21px;
}

.tracksContainer ul li > img {
  margin-right: 18px;
  width: 42px;
  height: auto;
}

.tracksContainer ul li > span:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 22.08px;
  color: #3d3b45;
}

.tracksContainer ul li > span:last-child {
  border-radius: 100px;
  border: 1px solid #6a6781;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 24px;
  padding: 3px 12px;
  color: #5c5589;
}

.tracksContainer ul li:hover {
  background-color: #f0f3f9;
  cursor: pointer;
}

.tracksContainer ul li.selected {
  background-color: #f0f3f9;
  cursor: auto;
}

.tracksContainer ul li:hover > span:nth-child(1) > span,
.tracksContainer ul li.selected > span:nth-child(1) > span {
  width: 9px;
  height: 9px;
  background-color: #3f3a5a;
  border-radius: 50%;
  position: absolute;
}

.tracksContainer ul li:hover > span:last-child,
.tracksContainer ul li.selected > span:last-child {
  color: #130b43;
}
