.tableContainer {
  border-radius: 8px;
  box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);
  margin: 36px auto 0;
  max-width: 1360px;
  min-height: 500px;
  width: 100%;
}

.tableContainer .tableHeader {
  border-bottom: 1px solid #EAECF3;
  min-height: 64px;
}

.tableContainer .tableHeader .tableHeaderContainer {
  align-items: center;
  display: flex;
  padding: 16px 24px;
}

.tableHeaderContainer > div > span{
  display: inline-flex;
  align-items: center;
}

.tableContainer .tableHeader .tableHeaderContainer .chevronSmall {
  height: 13px;
  margin-left: 14px;
  margin-top: 4px;
  width: 13px;
}



